#footer {
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}

#footer .footer {
  flex-direction: column;
  min-height: 200px;
  padding-top: 40px;
  padding-bottom: 10px;
  text-align: center;
}

#footer h2 {
  color: white;
  font-weight: 500;
  font-size: 1.2rem;
  letter-spacing: .1rem;
  margin-top: 5px;
  margin-bottom: 10px;
}

#footer .social_icon {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

#footer .social_item {
  height: 50px;
  width: 50px;
  margin: 0 5px;
}

#footer .social_item img {
  filter: grayscale(1);
  transition: 0.3s ease filter;
}

#footer .social_item img:hover {
  filter: grayscale(0);
}

#footer p {
  color: white;
  font-size: 1rem;
}
