.shop{
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.shop__heading{
    width: 100%;
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 5px;
}
.shop__heading span{
    width: 10rem;
    height: 3px;
    background-color: rgb(53, 52, 52);
    margin: 0 10px;
}
.shop__heading span:first-child{
    margin-right: 18px;
}
.shop .card{
    margin: 0 auto;
}